nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#total_bold {
    font-weight: bold;
}

#translation-result {
    width: 100%;
}