<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Azure Cognitive Services.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Speech to Text: {% block title %}{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light border">
      <a class="navbar-brand" href="/"><span class="red">Speech to Text</span></a>
      <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {% if session.user_id %}
          <ul class="navbar-nav mr-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
              <li class="nav-item"><a class="nav-link" href="/files">Files</a></li>
          </ul>
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/change password">Change Password</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
          </ul>
        {% else %}  
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>

    {% if get_flashed_messages() %}
      <header>
          <div class="alert alert-primary border text-center" role="alert">
              {{ get_flashed_messages() | join(" ") }}
          </div>
      </header>
    {% endif %}
    
    <main>
      {% block main %}{% endblock %}
    </main>

    <!-- Required Javascript for this tutorial -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/scripts/main.js"></script>
  </body>
</html>